<!-- index.html -->
<html>
  <head>
      <title>Foodie Chatbot</title>
      <meta name=viewport content="width=device-width, initial-scale=1">

      <!-- CSS -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    </head>
  
  <body>
<div class="chat-output" id="chat-output">
  <div class="user-message">
    <div class="message">Hi! I'm a bot. What's up?</div>
  </div>
</div>

<div class="chat-input">
  <form action="#0" id="user-input-form">
    <input type="text" id="user-input" class="user-input" placeholder="Talk to the bot.">
  </form>
</div>
    <!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="script.js" type="text/javascript" charset="UTF-8"></script>
    
  </body>
</html>
